<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="export" class="org.springframework.jmx.export.MBeanExporter">
        <property name="beans">
            <map>
                <entry key="bean:name=HelloWorld" value-ref="HelloWorld"/>
            </map>
        </property>
    </bean>
    <bean id="HelloWorld" class="com.hui.zhang.client.jmx.HelloWorld"/>
</beans>